<h2>Listing Bookings</h2>

<table class="table">
  <thead>
    <tr>
      <th>Pickup location</th>
      <th>Dropoff location</th>
      <th>Action</th>
    </tr>

  </thead>
  <tbody>
<%= for booking <- @bookings do %>
    <tr>
      <td><%= booking.pickup %></td>
      <td><%= booking.dropoff %></td>

      <td class="text-right">
        <span><%= link "Show", to: booking_path(@conn, :show, booking), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Edit", to: booking_path(@conn, :edit, booking), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Delete", to: booking_path(@conn, :delete, booking), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Booking", to: booking_path(@conn, :new) %></span>
