<div id="app">
<h2>New Booking</h2>

<%# <%= render "form.html", Map.put(assigns, :action, booking_path(@conn, :create)) %>
<booking></booking>
<googlemaps></googlemaps>

<span><%= link "Back", to: booking_path(@conn, :index) %></span>
</div>
