<h2>Show Booking</h2>

<ul>

  <li>
    <strong>Dropoff:</strong>
    <%= @booking.dropoff %>
  </li>

</ul>

<span><%= link "Edit", to: booking_path(@conn, :edit, @booking) %></span>
<span><%= link "Back", to: booking_path(@conn, :index) %></span>
