<div class="container">
        <div class="row">
            <div class="col-06">
                  <div class="card">

                    <div class="card-body">
                        <div class="card-title mb-4">
                          <div class="d-flex justify-content-start">
                            <div class="ml-auto">
                                <%= link "Book Ride", to: booking_path(@conn, :new) %>
                            </div>
                          </div>  
                        </div>
                    </div>
                  </div>      

                </div>

            <div class="col-10">
                <div class="card">

                    <div class="card-body">
                        <div class="card-title mb-4">
                            <div class="d-flex justify-content-start">
                                <div class="image-container">
                                    <img src="http://placehold.it/150x150" id="imgProfile" style="width: 150px; height: 150px" class="img-thumbnail" />
                                    <div class="middle">
                                        <input type="file" style="display: none;" id="profilePicture" name="file" />
                                    </div>
                                </div>
                                <div class="userData ml-3">
                                    <h2 class="d-block" style="font-size: 1.5rem; font-weight: bold"><%= @user.first_name %> <%= @user.last_name %></h2>
                                    <h6 class="d-block"><%= @user.email %></h6>
                                    
                                </div>

                            </div>
                        </div>
                        
                    </div>

                </div>
                
            </div>
        </div>
    </div>