<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
      <h5 class="my-0 mr-md-auto font-weight-normal">
        <a href="/">
          
          <img src="/images/strslogo/STRS-Bold.png" alt="" title="" style="width:100px"></a>
      </h5>
      <nav class="my-2 my-md-0 mr-md-3">
        <%= if logged_in?(@conn) do %>
          <%= if current_user(@conn).user_type == 1 do %>
            Welcome Captain, <%= String.upcase(current_user(@conn).first_name <> " " <> current_user(@conn).last_name) %>
            <%= link "Logout", to: session_path(@conn, :delete), class: "btn btn-warning" %>
          <%= else %>
            Welcome, <%= String.upcase(current_user(@conn).first_name <> " " <> current_user(@conn).last_name) %>
            <%= link "Logout", to: session_path(@conn, :delete), class: "btn btn-warning" %>
          <% end %>
        <%= else %>
          <a class="p-2 text-dark" href="/login">Sign in</a>

          <a class="btn btn-outline-primary" href="/users/new">Sign up to Ride</a>
          <a class="btn btn-outline-success" href="#">Register as Captain</a>
        <% end %>
      </nav>
  </div>