<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Strs!</title>
    
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
  <style>
    .login-form {
    padding:20px;
    padding-top:20px;
    background-color: #e3e6ea;
  }
  </style>
  </head>

  <body>
    <div class="container">
      <%= render "_navbar.html", conn: @conn %>

      <%# <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) </p> %>
      <%# <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error)</p> %>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
