<template>
<div>
    <div>
        <iframe v-if='maps_link' width="1000" height="450" frameborder="0" style="border:0" :src='maps_link' allowfullscreen></iframe>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <button class="btn btn-default" v-on:click="submitBooking">Book a Ride</button>
            </div>
        
        </div>
    </div>
    <div class="well">
        {{message}}
    </div>
</div>
</template>

<script>
import socket from "../socket";

export default {
    data: function() {
        return {
           // message: "Here you can see the request payload", 
            maps_link: 'https://wego.here.com/?map=58.38143,26.87945,12,normal&msg=Luunja'
        //    maps_link: 'https://www.google.com/maps/embed/v1/undefined?origin=tartu'
        }
    },
    mounted: function() {
        var channel = socket.channel("driver:lobby", {});
        channel.join()
            .receive("ok", resp => { console.log("Joined successfully", resp) })
            .receive("error", resp => { console.log("Unable to join", resp) });

        channel.on("requests", payload => {
            this.message = payload;
            this.maps_link = 'https://wego.here.com/directions/mix/';
           // this.maps_link = 'https://www.google.com/maps/embed/v1/directions?origin='+ payload['pickup_address'] + '&destination='+ payload['dropoff_address'] + '&key=AIzaSyDvStD0Cj3gMQcvt_6up-eO8zUyanVC75U ';
        });
    },
    methods: {
      submitBooking: function()
      {
      console.log("will submit the reuest to booking");
      var element = document.getElementById('itinerary_item_input_0');
      console.log(element.value);
      }
     }
   
}
</script>
