<template>	
<div class="main-w3layouts wrapper">
    <div class="container row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">    
            <div style="text-align:center !important;margin-bottom:10px">
                    <img src="/images/strslogo/STRS-Bold.png"" alt="" title="" style="width:150px">
                <div id="errorDiv" class="alert alert-danger alert-dismissible" role="alert" style="display:hidden">
                    This is a danger alert—check it out!
                </div>        
            </div>
        </div>    
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-4 login-form">   
            <form>
                <div class="text-center mb-4">
                    <h1 >Sign In</h1>
                    
                </div>
                <div class="form-group">
                    <input id="email" class="form-control" type="email" name="email" placeholder="Email" v-model="email" required="">
                </div>
                <div class="form-group">
                    <input id="password"  class="form-control" type="password" name="password" placeholder="Password" v-model="password" required="">
                </div>
                <div class="form-group" style="text-align:center !important">
                    <input id="login" class="btn btn-primary"  v-on:click="submitForm" value="Log In">
                </div>
            </form>
        </div>
        <div class="col-md-4">
        </div>    
    </div>
    
</div>

</template>
<script>
 import axios from "axios";

 export default {
    name: 'login',
    data() {
      return {
        email: '',
        password: '',
        
      };
    },
     methods: {
      submitForm:function (event)
      {

       axios.post("/api/session", {email: this.email,password: this.password})
            .then(function(response){
                    window.location.assign(response.request.responseURL);
                    
            })
            .catch(function(response){
                
            });
            
            this.email = "";
            this.password = "";
      }
     }
 }
</script>