<template>
  
  <!-- main -->
	<div class="main-w3layouts wrapper">
    
    <div class="row container">
      <div class="col-md-4">

      </div>
			<div class="col-md-5 login-form">
        <div style="text-align:center !important">
          <img src="/images/strslogo/STRS-Bold.png"" alt="" title="" style="width:150px">
          
          <h3>Signup to Ride with us</h3>
        </div>
        <form class="form-signin">
          <div class="form-group">
					  <input class="form-control" type="text" name="first_name" placeholder="First Name" v-model="name" required="">
          </div>
          <div class="form-group">
            <input class="form-control" type="text" name="last_name" placeholder="Last Name" v-model="lastName" required="">
					</div>
          <div class="form-group">
            <input class="form-control" type="email" name="email" placeholder="Email" v-model="email" required="">
					</div>
          <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password" v-model="password" required="">
					</div>
          <div class="form-group">
            <input class="form-control" type="password" name="cpassword" placeholder="Confirm Password" v-model="cpassword" required="">
					</div>
          <div class="form-group">
            <select name="user_type" class="form-control" id="user_roles" v-model="user_type">
              <option value="0">User</option>
              <option value="1">Driver</option>
              <option value="2">Admin</option>
            </select>
          </div>
          <div class="form-group" style="text-align:center !important">
            <input class="btn btn-primary"  v-on:click="submitForm" value="SIGNUP">
          </div>
          
        </form>
			</div>
      <div class="col-md-3">

      </div>
		</div>
	
	</div>
	<!-- //main -->
</template>
<script>
 import axios from "axios";

 export default {
    name: 'register',
    data() {
      return {
        name: '',
        lastName: '',
        email: '',
        password: '',
        user_type:'',
        cPassword: '',
        
      };
    },
     methods: {
      submitForm:function (event)
      {
       
       axios.post("/api/users", {first_name: this.name,last_name: this.lastName,email: this.email,
                            password:this.password,user_type:this.user_type })
             .then((response) => console.log(response))
             .catch((error) => console.log(error));
             this.name = "";
             this.lastName = "";
             this.email = "";
             this.password = "";
             this.password = "";
             this.cpassword = "";
             this.user_type = "";

      }
     }
 }
</script>
