<h2>Show Driver</h2>

<ul>

  <li>
    <strong>User:</strong>
    <%= @driver.user_id %>
  </li>

  <li>
    <strong>Location:</strong>
    <%= @driver.location %>
  </li>

  <li>
    <strong>Status:</strong>
    <%= @driver.status %>
  </li>

</ul>

<span><%= link "Edit", to: driver_path(@conn, :edit, @driver) %></span>
<span><%= link "Back", to: driver_path(@conn, :index) %></span>
